In [32]:
import pandas as pd
pd.options.mode.chained_assignment = None

import numpy as np
import random

In [33]:
oldDf = pd.read_csv('data.csv').sample(n=150000)
oldDf = oldDf.dropna(axis=0, how='any')
df = oldDf[['Sex', 'Equipment', 'Age', 'BodyweightKg', 'TotalKg']]

In [34]:
sex = {'M': 1, 'F': 2, 'Mx': 3}
equip = {'Wraps': 1, 'Raw': 0, 'Single-ply': 1, 'Multi-ply': 1, 'Straps': 1}

df['Sex'] = df['Sex'].map(sex)
df['Equipment'] = df['Equipment'].map(equip)

In [35]:
# Checking dataframe
df

        Sex  Equipment   Age  BodyweightKg  TotalKg
247986    2          0  29.5         80.10   300.00
568733    1          0  28.5        105.13   290.00
641614    1          1  27.5        108.86   592.48
29332     1          1  18.5         70.80   535.00
451113    1          1  20.5         93.00   545.00
...     ...        ...   ...           ...      ...
133936    1          1  32.5         82.50   617.50
41912     1          1  36.0         94.70   335.00
134334    1          1  54.5        110.53   657.50
631901    1          1  22.5         73.80   615.00
258943    1          0  21.5        100.70   570.00

[91388 rows x 5 columns]

In [36]:
X = df.drop('Equipment',axis=1).values
y = df['Equipment'].values

In [37]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
df[['Sex', 'Equipment', 'Age', 'BodyweightKg', 'TotalKg']]= scaler.fit_transform(df[['Sex', 
    'Equipment', 'Age', 'BodyweightKg', 'TotalKg']])

In [38]:
# Checking dataframe
df

        Sex  Equipment       Age  BodyweightKg   TotalKg
247986  1.0        0.0  0.150327      0.240500  0.238193
568733  0.0        0.0  0.137255      0.360895  0.229979
641614  0.0        1.0  0.124183      0.378836  0.478423
29332   0.0        1.0  0.006536      0.195767  0.431211
451113  0.0        1.0  0.032680      0.302549  0.439425
...     ...        ...       ...           ...       ...
133936  0.0        1.0  0.189542      0.252044  0.498973
41912   0.0        1.0  0.235294      0.310726  0.266940
134334  0.0        1.0  0.477124      0.386869  0.531828
631901  0.0        1.0  0.058824      0.210197  0.496920
258943  0.0        0.0  0.045752      0.339586  0.459959

[91388 rows x 5 columns]

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [44]:
from sklearn import svm
clf = svm.SVC(gamma='auto')

In [45]:
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [46]:
clf.score(X_test, y_test)

0.6402232191705876