In [45]:
import pandas as pd
pd.options.mode.chained_assignment = None

import numpy as np
import random

In [46]:
# Importing and structuring dataframe
oldDf = pd.read_csv('data.csv').sample(n=150000)
oldDf = oldDf.dropna(axis=0, how='any')
df = oldDf[['Sex', 'Equipment', 'Age', 'BodyweightKg', 'Best3SquatKg']]

In [47]:
# Change non-numerical values to numerical
sex = {'M': 1, 'F': 2, 'Mx': 3}
equip = {'Wraps': 1, 'Raw': 0, 'Single-ply': 1, 'Multi-ply': 1, 'Straps': 1}

df['Sex'] = df['Sex'].map(sex)
df['Equipment'] = df['Equipment'].map(equip)

In [48]:
# Checking dataframe
df

        Sex  Equipment   Age  BodyweightKg  Best3SquatKg
11084     1          0  30.5        135.20         230.0
502998    1          1  30.5        124.20           0.0
141167    1          1  18.5         64.50         130.0
424786    1          1  37.5         73.20           0.0
22343     2          1  23.5         58.70           0.0
...     ...        ...   ...           ...           ...
396286    2          0  26.0         86.80           0.0
472801    1          0  60.5         82.16           0.0
466639    1          0  25.5        102.03         250.0
103156    1          1  22.5         89.85         255.0
41552     1          0  20.0         79.32           0.0

[91200 rows x 5 columns]

In [49]:
# Seperating predicting variable from dataframe
X = df.drop('Equipment',axis=1).values
y = df['Equipment'].values

In [50]:
#Scaling numerical data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
df[['Sex', 'Equipment', 'Age', 'BodyweightKg', 'Best3SquatKg']]= scaler.fit_transform(df[['Sex', 
    'Equipment', 'Age', 'BodyweightKg', 'Best3SquatKg']])

In [51]:
# Checking dataframe
df

        Sex  Equipment       Age  BodyweightKg  Best3SquatKg
11084   0.0        0.0  0.163399      0.500715      0.455446
502998  0.0        1.0  0.163399      0.448309      0.000000
141167  0.0        1.0  0.006536      0.163888      0.257426
424786  0.0        1.0  0.254902      0.205336      0.000000
22343   1.0        1.0  0.071895      0.136255      0.000000
...     ...        ...       ...           ...           ...
396286  1.0        0.0  0.104575      0.270129      0.000000
472801  0.0        0.0  0.555556      0.248023      0.000000
466639  0.0        0.0  0.098039      0.342687      0.495050
103156  0.0        1.0  0.058824      0.284659      0.504950
41552   0.0        0.0  0.026144      0.234493      0.000000

[91200 rows x 5 columns]

In [52]:
# Splitting into trainingdata and testingdata
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [53]:
# Creating an instance of the classification algorithm
from sklearn import svm
clf = svm.SVC(gamma='auto')

In [54]:
# Training
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [55]:
# Testing
clf.score(X_test, y_test)

0.6714912280701755